{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container col-sm-12 py-5">
    <div id="secret-obj-type" hidden>{{ request.session.usr_type }}</div>
    {% if request.session.usr_type == "admin" %}
    <div class="col-sm-12 pb-5">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <a href="{% url 'item:create_item' %}" class="custom-btn btn-lg crimson">Create Item</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>All Items in Database</h4>
                <div class="table-responsive">        
                    <table id="item-table" class="table table-bordred table-striped">    
                        <thead>
                            <th>ID Barang</th>
                            <th>Nama Item</th>
                            <th>Warna</th>
                            <th>URL Foto</th>
                            <th>Kondisi</th>
                            <th>Lama Penggunaan</th>
                            <th>Owner</th>
                            {% if request.session.usr_type == "admin" %}
                            <th class="admin-hide">Update</th>  
                            <th class="admin-hide">Delete</th>
                            {% endif %}
                        </thead>
                        <tbody id="maBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        GetItems();
        
    });
    
    function GetItems(){
        $.ajax({
            type: 'GET',
            url: "/get_item/",
            success: function(data){
                var table_data = '<tbody id="maBody">';
                $.each(data, function(key, value){
                    var url = "/item/update/"+value[0]+"/";
                    table_data += '<tr>';
                    table_data += '<td>'+value[0]+'</td>';
                    table_data += '<td><p>'+value[1]+'</p></td>';
                    table_data += '<td>'+value[2]+'</td>';
                    table_data += '<td>'+value[3]+'</td>';
                    table_data += '<td><p>'+value[4]+'</p></td>';
                    if($("#secret-obj-type").text() == "admin"){
                        table_data += '<td><p data-placement="top" data-toggle="tooltip" title="Update">'
                        table_data += '<a href="' + url + '">'
                        table_data += '<button class="btn btn-primary" data-title="Update"></button></a></p></td>'
                        table_data += '<td><p data-placement="top" data-toggle="tooltip" title="Delete">'
                        table_data += '<button class="btn btn-danger tbtn-delete" data-title="Delete" onclick="'+"DeleteItems('"+value[0]+"')"
                        table_data += '"></button></p></td>'
                    }
                })
                $("#maBody").remove();
                $('#item-table').append(table_data+"</tbody>");
            }
        });
    }
    
    function DeleteItems(nama){
        $.ajax({
            url: "/delete_item/",
            data: {
                'nama': nama,
            },
            dataType: 'json',
            success: function(data){
                alert("data successfully deleted from the database")
                GetItems()
            }
        });
    }
</script>
{% endblock %}
