{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="col-sm-12 bg-theme">
    {% if request.session.usr_type == "admin" %}
    <section class="container form-section py-5">
        <div class='text-white'>
            <form class="form">
                <div class="row">
                    <div class="col-sm-12 py-3">
                        <h2 id="titleh2">Update Barang: {{ data.0 }}</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="alert alert-warning" id="alert-container" hidden>
                            <h4>Warning</h4>
                            <p>
                                <li id="alert-list-1" hidden>An barang with this name already exist</li>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">ID Barang</div>
                            {{ data.0 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Nama Item</div>
                            {{ data.1 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Warna</div>
                            {{ data.2 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">URL Foto</div>
                            {{ data.3 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Lama Penggunaan</div>
                            {{ data.4 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Owner</div>
                            {{ data.5 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Bronze</div>
                            Persen Royalti :{{ data.6 }}  Harga Sewa :{{ data.7 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Silver</div>
                            Persen Royalti :{{ data.8 }}  Harga Sewa :{{ data.9 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Gold</div>
                            Persen Royalti :{{ data.10 }}  Harga Sewa :{{ data.11 }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="btn-form" class="btn btn-danger btn-form" type="button" name="action">UPDATE</button>
                    </div>
                </div>
            </form>            
        </div>
    </section>
    {% endif %}
</div>

<script>
    $(".form-input").change(function () {
        var old_nama = $('#old-nama-holder').text();
        var nama = $('#form-nama').val();
    
        $.ajax({
            url: '/barang/validate_update/',
            data: {
                'old_nama': old_nama,
                'nama': nama
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#alert-list-1').prop('hidden', true);
                    $('#alert-container').prop('hidden', true);
                    $('#btn-form').prop('disabled', false);
                } else {
                    $('#alert-list-1').prop('hidden', false);
                    $('#alert-container').prop('hidden', false);
                    $('#btn-form').prop('disabled', true);
                }
            }
        });
    });
    
    $("#btn-form").click(function(e){
        e.preventDefault;
        var old_id_barang = $('#old-nama-holder').text();
        var id_barang = $('#form-id-barang').val();
        var nama_item = $('#form-nama-item').val();
        var warna = $('#form-warna').val();
        var url_foto = $('#form-url-foto').val();
        var kondisi = $('#form-kondisi').val();
        var lama_penggunaan = $('#form-lama-penggunaan').val();
        var owner = $('#form-owner').val();
        var royalti_bronze = $('#form-royalti-bronze').val();
        var harga_bronze = $('#form-harga-bronze').val();
        var royalti_silver = $('#form-royalti-silver').val();
        var harga_silver = $('#form-harga-silver').val();
        var royalti_gold = $('#form-royalti-gold').val();
        var harga_gold = $('#form-harga-gold').val();
        
        $.ajax({
            url: '/update_barang/',
            type: 'GET',
            data: {
                'old_id_barang': old_nama,
                'id_barang': id_barang,
                'nama_item': nama_item,
                'warna': warna,
                'url_foto': url_foto,
                'kondisi': kondisi,
                'lama_penggunaan': lama_penggunaan,
                'owner': owner,
                'royalti_bronze': royalti_bronze,
                'harga_bronze': harga_bronze,
                'royalti_silver': royalti_silver,
                'harga_silver': harga_silver,
                'royalti_gold': royalti_gold,
                'harga_gold': harga_gold,
            },
            success: function (data) {
                alert("data successfully updated");
                window.location.href = '/barang/';
            }
        })
    });
</script>
{% endblock %}
