{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="col-sm-12 bg-theme">
    {% if request.session.usr_type == "admin" %}
    <section class="container form-section py-5">
        <div class='text-white'>
            <form class="form" method="post" action="/item:add_item/">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 py-3">
                        <h2>Add an Barang</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="alert alert-warning" id="alert-container" hidden>
                            <h4>Warning</h4>
                            <p>
                                <li id="alert-list-1" hidden>An barang with this name already exist</li>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">ID Barang</div>
                            {{ form.id_barang }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Nama Item</div>
                            {{ form.nama_item }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Warna</div>
                            {{ form.warna }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">URL Foto</div>
                            {{ form.url_foto }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Lama Penggunaan</div>
                            {{ form.lama_penggunaan }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Owner</div>
                            {{ form.owner }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Bronze</div>
                            Persen Royalti :{{ form.royalti_bronze }}  Harga Sewa :{{ form.harga_bronze }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Silver</div>
                            Persen Royalti :{{ form.royalti_silver }}  Harga Sewa :{{ form.harga_silver }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Gold</div>
                            Persen Royalti :{{ form.royalti_gold }}  Harga Sewa :{{ form.harga_gold }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="btn-form" class="btn btn-danger btn-form" type="button" name="action" disabled>CREATE</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% endif %}
</div>

<script>
    $(".form-input").change(function () {
        var nama = $('#form-nama').val();
    
        $.ajax({
            url: '/validate_item/',
            data: {
                'nama': nama,
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#alert-list-1').prop('hidden', true);
                    $('#alert-container').prop('hidden', true);
                    $('#btn-form').prop('disabled', false);
                } else {
                    $('#alert-list-1').prop('hidden', false);
                    $('#alert-container').prop('hidden', false);
                    $('#btn-form').prop('disabled', true);
                }
            }
        });
    });
    
    $("#btn-form").click(function(e){
        e.preventDefault;
        var id_barang = $('#form-id-barang').val();
        var nama_item = $('#form-nama-item').val();
        var warna = $('#form-warna').val();
        var url_foto = $('#form-url-foto').val();
        var kondisi = $('#form-kondisi').val();
        var lama_penggunaan = $('#form-lama-penggunaan').val();
        var owner = $('#form-owner').val();
        var royalti_bronze = $('#form-royalti-bronze').val();
        var harga_bronze = $('#form-harga-bronze').val();
        var royalti_silver = $('#form-royalti-silver').val();
        var harga_silver = $('#form-harga-silver').val();
        var royalti_gold = $('#form-royalti-gold').val();
        var harga_gold = $('#form-harga-gold').val();
        
        $.ajax({
            url: '/barang/add/',
            type: 'POST',
            data: {
                'id_barang': id_barang,
                'nama_item': nama_item,
                'warna': warna,
                'url_foto': url_foto,
                'kondisi': kondisi,
                'lama_penggunaan': lama_penggunaan,
                'owner': owner,
                'royalti_bronze': royalti_bronze,
                'harga_bronze': harga_bronze,
                'royalti_silver': royalti_silver,
                'harga_silver': harga_silver,
                'royalti_gold': royalti_gold,
                'harga_gold': harga_gold,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                alert("success");
                window.location.href = '/barang/';
            }
        })
    });    
</script>
{% endblock %}
