{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container">
    <h1> Home Index </h1>
    <select title="Select A Category" class="custom-select mb-4" id="select-category">
        <option>All</option>
        <option><i class='glyphicon glyphicon-cutlery'>Choice 1</i></option>
        <option>Choice 2</option>
        <option>Choice 3</option>
    </select>
    <div id="cards-container"></div>
</div>

{% endblock %}