{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="col-sm-12 bg-theme">
    <section class="container form-section py-4 col-md-8">
        <div class='text-white'>
           <form>
               {%if usr_type == 'Admin'%}
              <div class="form-group">
                <label for="exampleInputUser">User</label>
                <select class="custom-select">
                  <option selected>Choose the user</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
               {%endif%}
             <div class="form-group">
                <label for="exampleInputGoods">Goods</label>
                <select class="custom-select">
                    <option selected>Choose the Goods</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
             </div>
           <div class="form-group">
               <label for="exampleInputDuration">Duration</label>
               <input type="number" class="form-control" id="exampleInputDuration" placeholder="Duration    ">
           </div>
             <button type="submit" class="btn btn-primary">Submit</button>
           </form>
        </div>
    </section>
</div>
{% endblock %}