{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Goodies List</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>1</td>
        <td>Ayam-ayaman</td>
        <td>200000</td>
        <td>On the way</td>
        <td><button class="btn btn-primary" data-title="Update"></button></td>
        <td><button class="btn btn-danger" data-title="Delete"></button></td>

    </tr>
    <tr>
        <td>2</td>>
        <td>Mobil-mobilan</td>
        <td>2000000</td>
        <td>Delivered</td>
        <td><button class="btn btn-primary" data-title="Update"></button></td>
        <td><button class="btn btn-danger" data-title="Delete"></button></td>
    <tr>
        <td>3</td>
        <td>CatDog</td>
        <td>226000</td>
        <td>On the way</td>
        <td><button class="btn btn-primary" data-title="Update"></button></td>
        <td><button class="btn btn-danger" data-title="Delete"></button></td>
    </tr>
  </tbody>
</table>
{% endblock %}