{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="col-sm-12 bg-theme">
    <section class="container form-section py-4 col-md-8">
        <div class='text-white'>
           <form>
               {%if usr_type == 'admin'%}
             <div class="form-group">
               <label for="exampleInputLevelName">Level Name</label>
               <input type="text" class="form-control" id="exampleInputLevelName" placeholder="Level Name">
             </div>
             <div class="form-group">
               <label for="exampleInputMin">Minimum Point</label>
               <input type="number" class="form-control" id="exampleInputMin" placeholder="Minimum Point">
            </div>
           <div class="form-group">
               <label for="exampleInputDesc">Desciption</label>
               <input type="text" class="form-control" id="exampleInputDesc" placeholder="Description">
           </div>
             <button type="submit" class="btn btn-primary">Submit</button>
               {%endif%}
           </form>
        </div>
    </section>
</div>
{% endblock %}