{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <table class="table">
      <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Level Name</th>
            <th scope="col">Description</th>
            <th scope="col">Minimum Point</th>
            <th scope="col">UPDATE</th>
            <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>Gold</td>
            <td>Gold Membership</td>
            <td>1000</td>
            <td><button class="btn btn-primary" data-title="Update"></button></td>
            <td><button class="btn btn-danger" data-title="Delete"></button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Silver</td>
            <td>Silver Membership</td>
            <td>500</td>
            <td><button class="btn btn-primary" data-title="Update"></button></td>
            <td><button class="btn btn-danger" data-title="Delete"></button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bronze</td>
            <td>Bronze Membership</td>
            <td>0</td>
            <td><button class="btn btn-primary" data-title="Update"></button></td>
            <td><button class="btn btn-danger" data-title="Delete"></button></td>
        </tr>
      </tbody>
</table>
{% endblock %}