.w-50p {
    width: 50%;
}
.formBox{
	margin-top: 90px;
	padding: 50px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .form-input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 24px;
}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: lightgrey;
}
.btn-form{
    width: 250px;
    height: 70px;
}
.w-115{
    width: 115px !important;
}
.w-7em{
    width: 24em;
}
.custom-btn{
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 30px 0px !important;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 0;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    transition: all 0.4s ease 0s;
}
.custom-btn:before,
.custom-btn:after{
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all 0.4s ease 0s;
}
.custom-btn:after{
    top: auto;
    left: auto;
    bottom: 5px;
    right: 5px;
}
.custom-btn:hover:before,
.custom-btn:hover:after{
    width: 50%;
}
.custom-btn.violet{
    color: #bb39d7;
    border: 1px solid #bb39d7;
}
.custom-btn.violet:hover{
    background: #bb39d7;
    color: #fff;
}
.custom-btn.orange{
    color: #ee955b;
    border: 1px solid #ee955b;
}
.custom-btn.orange:hover{
    background: #ee955b;
    color: #fff;
}
.custom-btn.crimson{
    color: crimson;
    border: 1px solid crimson;
}
.custom-btn.crimson:hover{
    background: crimson;
    color: #fff;
}

@media only screen and (max-width: 767px){
    .custom-btn{ margin-bottom: 20px; }
}