.bg-theme{
    background-color: crimson!important;
}

.bg-theme-dark{
    background-color: #bc1033!important;
}

.bd-theme{
    border-color: crimson !important;
}

.cl-theme{
    color: crimson !important;
}

.pb-60{
    padding-bottom: 60px !important;
}

.bb-white{
    border-bottom: 1px solid white !important;
}

.by-white{
    border-bottom: 1px solid white !important;
    border-top: 1px solid white !important;
}

.d-in-bl{
    display: inline-block;
}

a{
    text-decoration: none;
}

.mn-h-scr{
    min-height: 30em;
}