<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-theme-dark fixed-top">
    <div class="container py-1">
        <a id="header-title" class="navbar-brand" href="{% url 'base:index' %}">TOYSRENT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'index' %}active{% endif %}" href="{% url 'base:index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'pesanan' %}active{% endif %}" href="{% url 'pesanan:pesanan' %}">Pesanan</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'level' %}active{% endif %}" href="{% url 'level:level' %}">Level</a>
                </li>
                
                
                {% if request.session.is_login %}
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'item' %}active{% endif %}" href="{% url 'item:item' %}">Item</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'barang' %}active{% endif %}" href="{% url 'barang:barang' %}">Barang</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'user_profile' %}active{% endif %}" href="{% url 'user_profile:user_profile' %}">User Profile</a>
                </li>
                {% endif %}
                
                <li class="nav-item">
                    {% if request.session.is_login %}
                    <a href="{% url 'login:logout' %}"><button class="btn btn-danger"> Logout </button></a>
                    {% else %}
                    <a href="{% url 'login:login' %}" ><button class="btn btn-success"> Login </button></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>