{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="col-sm-12 bg-theme">
    <section class="container form-section py-4 col-md-8">
        <div class='text-white'>
            <form class="form" method="post" action="/login:add_admin/">
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-12 py-3">
                        <h2>Register an Account</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="alert alert-warning" id="alert-container" hidden>
                            <h4>Warning</h4>
                            <p>
                                <li>Fields need to have value</li>
                                <li id="alert-list-1" hidden>A user with this ktp number already exists</li>
                                <li id="alert-list-2" hidden>Your email input is invalid</li>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Nomor KTP</div>
                            {{ form.no_ktp }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Nama Lengkap</div>
                            {{ form.nama_lengkap }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Email</div>
                            {{ form.email }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Tanggal Lahir</div>
                            {{ form.tanggal_lahir }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Nomor Telepon</div>
                            {{ form.no_telp }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="btn-form" class="btn btn-danger btn-form" type="button" name="action" disabled>Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<script>
    $(".form-input").change(function () {
        var no_ktp = $('#form-no-ktp').val();
        var email = $('#form-email').val();
    
        $.ajax({
            url: '/ajax/validate_form/',
            data: {
                'no_ktp': no_ktp,
                'email': email,
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#alert-list-1').prop('hidden', true);
                } else {
                    $('#alert-list-1').prop('hidden', false);
                }
                
                if (data.is_email_invalid){
                    $('#alert-list-2').prop('hidden', false);
                } else {
                    $('#alert-list-2').prop('hidden', true);
                }
                
                if(data.is_submitable) {
                    $('#alert-container').prop('hidden', true);
                    $('#btn-form').prop('disabled', false);
                } else {
                    $('#alert-container').prop('hidden', false);
                    $('#btn-form').prop('disabled', true);
                }
            }
        });
    });
    
    $("#btn-form").click(function(e){
        e.preventDefault;
        var no_ktp = $('#form-no-ktp').val();
        var nama_lengkap = $('#form-nama-lengkap').val();
        var email = $('#form-email').val();
        var tanggal_lahir = $('#form-tanggal-lahir').val();
        var no_telp = $('#form-no-telp').val();
        
        $.ajax({
            url: '/login/add_admin/',
            type: 'POST',
            data: {
                'no_ktp': no_ktp,
                'nama_lengkap': nama_lengkap,
                'email': email,
                'tanggal_lahir': tanggal_lahir,
                'no_telp': no_telp,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                alert("success");
                window.location.href = '/login/';
            }
        })
    });    
</script>

{% endblock %} 