{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="col-sm-12 bg-theme text-white pb-5">
    <section class="container form-section col-md-9">
        <div class='text-white'>
            <form class="form">
                <div class="row">
                    <div class="col-sm-12 pt-5">
                        <h2 id="titleh2">Login to an Account</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="alert alert-warning" id="alert-container" hidden>
                            <h4>Warning</h4>
                            <p>
                                <li id="alert-list-1" hidden>Pengguna dengan no ktp tersebut tidak ditemukan</li>
                                <li id="alert-list-2" hidden>Email yang dimasukkan tidak sesuai</li>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Nomor KTP</div>
                            <input type="text" name="Nomor KTP" class="form-input text-white bb-white" id="form-no-ktp">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Email</div>
                            <input type="text" name="Email" class="form-input text-white bb-white" id="form-email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="btn-form" class="btn btn-danger btn-form" type="button" name="action" disabled>SUBMIT</button>
                    </div>
                </div>
            </form>            
        </div>
    </section>  
    <div class="col-sm-12">
        <div class="mx-auto text-center"><h2 class="py-4"> -- OR -- </h2></div>
    </div>
    
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'login:admin' %}" class="custom-btn btn-lg violet">Create Admin</a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'login:anggota' %}" class="custom-btn btn-lg orange">Create Anggota</a>    
            </div>
        </div>
    </div>
</div>

<script>
    usr_type = '';
    $(".form-input").change(function () {
        var no_ktp = $('#form-no-ktp').val();
        var email = $('#form-email').val();
    
        $.ajax({
            url: '/ajax/validate_login/',
            data: {
                'no_ktp': no_ktp,
                'email': email,
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#alert-list-1').prop('hidden', true);
                } else {
                    $('#alert-list-1').prop('hidden', false);
                }
                
                if (data.is_email_valid){
                    $('#alert-list-2').prop('hidden', true);
                } else {
                    $('#alert-list-2').prop('hidden', false);
                }
                
                if(data.is_submitable) {
                    $('#alert-container').prop('hidden', true);
                    $('#btn-form').prop('disabled', false);
                } else {
                    $('#alert-container').prop('hidden', false);
                    $('#btn-form').prop('disabled', true);
                }
                usr_type = data.usr_type;
            }
        });
    });
    
    $("#btn-form").click(function(e){
        e.preventDefault;
        var no_ktp = $('#form-no-ktp').val();
        var email = $('#form-email').val();
        
        $.ajax({
            url: '/login/logged_in/',
            type: 'GET',
            data: {
                'no_ktp': no_ktp,
                'email': email,
                'usr_type': usr_type
            },
            success: function (data) {
                window.location.href = '/index/';
            }
        })
    });
</script>
{% endblock %}