{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
    .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }
    .notice-sm {
        padding: 10px;
        font-size: 80%;
    }
    .notice-lg {
        padding: 35px;
        font-size: large;
    }
    .notice-blue {
        border-color: #45ABCD;
    }
    .cl-blue {
        color: #45ABCD !important;
    }
    .notice-danger {
        border-color: orangered;
    }
    .cl-danger {
        color: orangered !important;
    }
    .notice-violet {
        border-color: #bb39d7;
    }
    .cl-violet {
        color: #bb39d7 !important;
    }
    .notice-orange {
        border-color: #ee955b;
    }
    .cl-orange {
        color: #ee955b !important;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .bold{        
        color: gray;
        font-weight: bold;
    }
    .nt-strong{
        width: 150px;
    }
</style>

<div class="py-5 bg-theme">
    <div class="container col-sm-6">
        {% if request.session.usr_type == "admin" %}
        <div class="notice notice-violet notice-lg uppercase">
            <strong><h4 class="cl-violet uppercase bold">
        {% else %}
        <div class="notice notice-orange notice-lg uppercase">
            <strong><h4 class="cl-orange uppercase bold">
        {% endif %}
            {{ usr_type }}</h4></strong>
        </div>

        <div class="notice notice-danger">
            <div class="row">
                <div class="col-sm-5">
                    <strong class="cl-danger">No KTP</strong>
                </div>
                <div class="col-sm-7 bold">{{ data.0 }}</div>
            </div>
        </div>
        <div class="notice notice-blue">
            <div class="row">
                <div class="col-sm-5">
                    <strong class="cl-blue">Nama Lengkap</strong>
                </div>
                <div class="col-sm-7 bold">{{ data.1 }}</div>
            </div>
        </div>
        <div class="notice notice-blue">
            <div class="row">
                <div class="col-sm-5">
                    <strong class="cl-blue">Email</strong>
                </div>
                <div class="col-sm-7 bold">{{ data.2 }}</div>
            </div>
        </div>
        <div class="notice notice-blue">
            <div class="row">
                <div class="col-sm-5">
                    <strong class="cl-blue">Tanggal Lahir</strong>
                </div>
                <div class="col-sm-7 bold">{{ data.3 }}</div>
            </div>
        </div>
        <div class="notice notice-blue">
            <div class="row">
                <div class="col-sm-5">
                    <strong class="cl-blue">Nomor Telepon</strong>
                </div>
                <div class="col-sm-7 bold">{{ data.4 }}</div>
            </div>
        </div>
        {% if request.session.usr_type == "anggota" %}
        <div class="notice notice-blue">
            <div class="row">
                <div class="col-sm-5">
                    <strong class="cl-blue">Alamat</strong>
                </div>
                <div class="col-sm-7 bold">{{ data.5 }}</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script></script>
{% endblock %}