{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="col-sm-12 bg-theme">
    {% if request.session.usr_type == "admin" %}
    <section class="container form-section py-5">
        <div class='text-white'>
            <form class="form" method="post" action="/item:add_item/">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 py-3">
                        <h2>Add an Item</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="alert alert-warning" id="alert-container" hidden>
                            <h4>Warning</h4>
                            <p>
                                <li id="alert-list-1" hidden>An item with this name already exist</li>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Nama</div>
                            {{ form.nama }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Deskripsi</div>
                            {{ form.deskripsi }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Rentang Usia</div>
                            {{ form.rentang_usia }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Bahan</div>
                            {{ form.bahan }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Kategori</div>
                            {{ form.kategori }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="btn-form" class="btn btn-danger btn-form" type="button" name="action" disabled>CREATE</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% endif %}
</div>

<script>
    $(".form-input").change(function () {
        var nama = $('#form-nama').val();
    
        $.ajax({
            url: '/validate_item/',
            data: {
                'nama': nama,
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#alert-list-1').prop('hidden', true);
                    $('#alert-container').prop('hidden', true);
                    $('#btn-form').prop('disabled', false);
                } else {
                    $('#alert-list-1').prop('hidden', false);
                    $('#alert-container').prop('hidden', false);
                    $('#btn-form').prop('disabled', true);
                }
            }
        });
    });
    
    $("#btn-form").click(function(e){
        e.preventDefault;
        var nama = $('#form-nama').val();
        var deskripsi = $('#form-deskripsi').val();
        var rentang_usia = $('#form-rentang-usia').val();
        var bahan = $('#form-bahan').val();
        var kategori = $('#form-kategori').val();
        
        $.ajax({
            url: '/item/add_item/',
            type: 'POST',
            data: {
                'nama': nama,
                'deskripsi': deskripsi,
                'rentang_usia': rentang_usia,
                'bahan': bahan,
                'kategori': kategori,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                alert("success");
                window.location.href = '/item/';
            }
        })
    });    
</script>
{% endblock %}