{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="col-sm-12 bg-theme">
    {% if request.session.usr_type == "admin" %}
    <section class="container form-section py-5">
        <div class='text-white'>
            <form class="form">
                <div class="row">
                    <div class="col-sm-12 py-3">
                        <h2 id="titleh2">Update Item: {{ data.0 }}</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="alert alert-warning" id="alert-container" hidden>
                            <h4>Warning</h4>
                            <p>
                                <li id="alert-list-1" hidden>An item with this name already exist</li>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <h4 class="pb-2">Nama</h4>
                            <div class="inputText" id="old-nama-holder">{{ data.0 }}</div>
                            <input type="text" class="form-input text-white bb-white" id="form-nama" value="{{ data.0 }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <h4 class="pb-2">Deskripsi</h4>
                            <div class="inputText">{{ data.1 }}</div>
                            <input type="text" class="form-input text-white bb-white" id="form-deskripsi" value="{{ data.1 }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <h4 class="pb-2">Rentang Usia</h4>
                            <div class="inputText">{{ data.2 }}</div>
                            <input type="text" class="form-input text-white bb-white" id="form-rentang-usia" value="{{ data.2 }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <h4 class="pb-2">Bahan</h4>
                            <div class="inputText">{{ data.3 }}</div>
                            <input type="text" class="form-input text-white bb-white" id="form-bahan" value="{{ data.3 }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <h4 class="pb-2">Kategori</h4>
                            <div class="inputText">{{ data.4 }}</div>
                            <input type="text" class="form-input text-white bb-white" id="form-kategori" value="{{ data.4 }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="btn-form" class="btn btn-danger btn-form" type="button" name="action">UPDATE</button>
                    </div>
                </div>
            </form>            
        </div>
    </section>
    {% endif %}
</div>

<script>
    $(".form-input").change(function () {
        var old_nama = $('#old-nama-holder').text();
        var nama = $('#form-nama').val();
    
        $.ajax({
            url: '/validate_item_update/',
            data: {
                'old_nama': old_nama,
                'nama': nama
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_available) {
                    $('#alert-list-1').prop('hidden', true);
                    $('#alert-container').prop('hidden', true);
                    $('#btn-form').prop('disabled', false);
                } else {
                    $('#alert-list-1').prop('hidden', false);
                    $('#alert-container').prop('hidden', false);
                    $('#btn-form').prop('disabled', true);
                }
            }
        });
    });
    
    $("#btn-form").click(function(e){
        e.preventDefault;
        var old_nama = $('#old-nama-holder').text();
        var nama = $('#form-nama').val();
        var deskripsi = $('#form-deskripsi').val();
        var rentang_usia = $('#form-rentang-usia').val();
        var bahan = $('#form-bahan').val();
        var kategori = $('#form-kategori').val();
        
        $.ajax({
            url: '/update_item/',
            type: 'GET',
            data: {
                'old_nama': old_nama,
                'nama': nama,
                'deskripsi': deskripsi,
                'rentang_usia': rentang_usia,
                'bahan': bahan,
                'kategori': kategori
            },
            success: function (data) {
                alert("data successfully updated");
                window.location.href = '/item/';
            }
        })
    });
</script>
{% endblock %}